package layouts

templ Cats(cats map[string]string){
    <div class="cats">
        <ul>
            for k, v := range cats {
            <li class={ k }><a href={ templ.SafeURL("/cats/" + k) } class="cat-link">#{ v }</a></li>
            }
        </ul>
    </div>
}