package layouts

import "sanadam/sandbox-fiber/views/components"

templ Top(){
    <div class="top">
        @components.Logo()
        @components.TopMenu()
        @components.Search()
        @components.Lk()
    </div>
}