package components

templ TopMenu(){
    <div class="top-menu">
        <ul>
            <li><a href="/cat1">Категории</a></li>
            <li><a href="/cat2">Контакты</a></li>
        </ul>
    </div>
}